.footer-container{
  box-sizing: border-box;
  color: #fff;
  background-color: #242424;
  padding: 4rem 0 2rem 0;
  display: flex;
  flex-direction: column;
  
}
.footer-links{
  display: flex;
  justify-content: center;
  border-top: 0.3px solid grey;
}
.footer-link-wrapper{
  display: flex;
  justify-content: space-around;
}
.footer-link-items, .footer-link-items-redes {
  display: flex;
  flex-direction: column;
  padding: 25px;
  font-size: 15px;
}
li {
  display: flex;
  flex-wrap: wrap;
  color: white;
  margin-right: 10px;
}

a {
  color: #fff;
  text-decoration: none;
}
.footer-link-items-redes a {
  color: #fff;
  text-decoration: none;
}
.social-icon-link {
  color: #fff;
}
.copyright-links{
  display: flex;
  border-top: 0.3px solid grey;
}

.flex{
  display: flex;
  color: white;
  font-size: 12px;
}

.disclaimer{
  font-size: 10px;
  border-top: 0.3px solid grey;
  padding-left: 10px;
}


@media screen and (max-width: 600px) {
.copyright-links{
  display: block;
}

.flex{
  display: block;
}
.footer-link-wrapper{
  display: block;
}
}