*, *::before, *::after {
    box-sizing: inherit;
}
.elementor-kit-6 {
    --e-global-color-primary: #6EC1E4;
    --e-global-color-secondary: #54595F;
    --e-global-color-text: #7A7A7A;
    --e-global-color-accent: #61CE70;
    --e-global-color-5f6e823c: #4054B2;
    --e-global-color-55c6176f: #23A455;
    --e-global-color-7a254349: #000;
    --e-global-color-12f35be7: #FFF;
    --e-global-typography-primary-font-family: "Roboto";
    --e-global-typography-primary-font-weight: 600;
    --e-global-typography-secondary-font-family: "Roboto Slab";
    --e-global-typography-secondary-font-weight: 400;
    --e-global-typography-text-font-family: "Roboto";
    --e-global-typography-text-font-weight: 400;
    --e-global-typography-accent-font-family: "Roboto";
    --e-global-typography-accent-font-weight: 500;
    color: #3D3D3D;
    font-family: "Open Sans", Sans-serif;
    line-height: 1.5em;
}
body, button, input, select, optgroup, textarea {
    color: #404040;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    font-size: 1rem;
    line-height: 1.5;
}
.elementor-location-footer:before, .elementor-location-header:before {
    content: "";
    display: table;
    clear: both;
}
.elementor *, .elementor :after, .elementor :before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.elementor-19 .elementor-element.elementor-element-75d04f2b:not(.elementor-motion-effects-element-type-background), .elementor-19 .elementor-element.elementor-element-75d04f2b > .elementor-motion-effects-container > .elementor-motion-effects-layer {
    background-color: #ffffff;
}
@media (max-width: 767px){
.elementor-19 .elementor-element.elementor-element-75d04f2b {
    padding: 20px 20px 20px 20px;
}}
@media (max-width: 1024px){
.elementor-19 .elementor-element.elementor-element-75d04f2b {
    padding: 20px 20px 20px 20px;
}
}
.elementor-19 .elementor-element.elementor-element-75d04f2b {
    box-shadow: 0px 0px 24px 0px rgb(0 0 0 / 15%);
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin-top: 0px;
    margin-bottom: 0px;
    z-index: 99999;
}
@media (max-width: 767px){
.elementor .elementor-hidden-mobile, .elementor .elementor-hidden-phone {
    display: none;
}
}
header.sticky-header {
    --header-height: 90px;
    --opacity: 1;
    --shrink-me: 0.60;
    --sticky-background-color: #fff;
    --transition: .3s ease-in-out;
    transition: background-color var(--transition), background-image var(--transition), backdrop-filter var(--transition), opacity var(--transition);
}

.elementor-section {
    position: relative;
}
