.container{
  box-sizing: border-box;
  background-color: #313131;
  color: #fff;
}
.header {
    box-sizing: border-box;
    background-color: #313131;
    color: #fff;
}
.header.hea{

}
.welcome {
  margin-top: 10px;
  margin-bottom: 5px;
  margin-left: 25px;
  font-size: 1rem;
  font-family: sans-serif;
  font-weight: lighter;
}
.headerp {
  margin-left: 25px;
  margin-bottom: 5px;
  font-size: 0.6rem;
  font-family: sans-serif;
  font-weight: lighter;
}

/*dropdown menu*/
.banner-titles{
  display: flex;
  box-sizing: border-box;
  justify-content: flex-start;
}
.banner-titles-portfolio{
  padding: 15px;
  border-left: 5px solid orange;
  border-radius: 5px;
  margin-left: 10px;
}
.header-portfolio{
  color: #fff;
  margin-left: 15px;
  margin-top: 15px;
  margin-bottom: 10px;
  justify-content: flex-start;
  font-size: 0.7rem;
  font-weight: lighter;
  font-family: sans-serif;
}
.banner-titles-others{
  border-color: black;
  border-radius: 5px;
  background-color: black;
  color: #fff;
  display: flex;
  padding: 10px;
  justify-content: space-around;
}
.header-others{
  justify-content: center;
  margin-left: 90px;
  font-size: 0.7rem;
  font-weight: lighter;
  font-family: sans-serif;
  margin-top: 15px;
}


/*Table*/
.table{
  align-items: center;
	border-collapse: collapse;
  margin-bottom: 50px;
  border-spacing: 0;
  margin-left: 50px;
}
.table td,.table th{
  padding:5px 5px;
  text-align: center;
  font-size: 0.7rem;
}
.table th{
	color:#ffffff;
}
.percentage{
  color: #26cf3c;
}
.buysell{
  color: #a71f79;
}
.table-names{
  color: #f88707;
}

/*responsive*/
@media(max-width: 700px){
   
}